@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
:root{
    --color-texts: rgb(105, 105, 105);
    --background: #f3f5fc;
    --buttons-color: #0a3871;
    --white: #ffffff;
}
body{
    display: flex;
    flex-direction: column;
}


