footer{
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 6rem;
    background-color: var(--background);
}
footer p{
    font-weight: 700;
    font-size: 10px;
}
footer nav a{
    margin-left: 10px;
}
footer nav a img{
    width: 25px;
}
@media screen and (min-width:1024px) {
    footer{
        font-size: 25px;
    }
    footer nav a{
        margin-left: 20px;
    }
}